<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="../../utils.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CN-3</title>
</head>
<body>

      <section style="margin-left: auto; margin-right: auto;">
        <div id="title-bg" style="--bg-img: url('../../assets/images/cn.jpg') ">
            <div class="title-content">
                <p id="title">Computer Network</p>
                <p id="stmt" style="color: #F6C367;">Recent Trends in Computer Security</p>
                <p>Computer security basically is the protection<br>of computer systems and information from<br> 
                    harm, theft, and unauthorized use.<br>
                    It is the process of preventing and detecting<br> unauthorized use of your computer system.</p>
            </div>
          </div>
      </section>

      <div class="grid-item">
        <h1 style="color: #F6C367; text-align: center; margin-top: 50px; font-size: 30px;">Recent Trends in Computer Security</h1>
        <h2 style="color: #F6C367;">Mobile Networks</h2>
        <img src="../../assets/data/CN/11.png" alt="">
        <p>As cell networks are a composition of numerous technologies, this calls for a couple of interfacing mechanisms and backward compatibility to make sure clean operation. This will increase the complexity of the mobile community and makes defensive the mobile community a tough task. As with any records and verbal exchange system, the 3 foundational safety troubles are confidentiality, integrity, and authentication. 
          Today, we will connect to all and sundry everywhere withinside the world. However, safety is a big difficulty for those mobile networks. These days firewalls and different security features have become porous as human beings are the usage of gadgets inclusive of tablets, phones, PC` s and so on all of which once more require greater securities aside from the ones gift withinside the packages used. We should continually reflect onconsideration on the safety troubles of those cell networks. Further cell networks are pretty at risk of those cyber crimes plenty of care should be taken in case in their safety troubles.
         </p>
    </div>

    <div class="grid-item">
        <h2 style="color: #F6C367;">Rise of Automotive Hacking</h2>
        <img src="../../assets/data/CN/12.jpg" alt="">
        <p>Modern cars are equipped with dozens of computers, not just for navigating and playing music. Computers monitor and control almost every system in the vehicle, including steering, brakes, and the engine itself. That's why automotive cybersecurity is essential. If the vehicle's computer system is not properly protected, hackers can steal data or control the vehicle. As you can imagine, this makes automotive cybersecurity a major concern for consumers, automotive companies, and OEMs. As mentioned earlier, modern vehicles rely heavily on computer systems to monitor and control the various systems of the vehicle. If the car's technology is insecure, hackers can steal data. B. Track your location via GPS. But it gets even more scary. Hackers can also execute orders and create vehicles that are targeted by hackers rather than drivers. 
          The idea of ​​data being stolen is scary, but the idea of ​​a hacker controlling your car is really scary. Hackers can use commands to enable or disable various features such as air conditioning and wipers, and to control steering, braking and the engine. Today's engines are full of computer-aided software programs that develop seamless driver connections in the areas of cruising operation, engine control, door locks, airbags, and superior power assist structures. Although these engines communicate using Bluetooth and WiFi technologies, they are still exposed to numerous vulnerabilities and threats from hackers. Manipulating a car or tapping with a microphone is expected to increase the use of computer-controlled engines in 2022 and turn upwards. Self-propelled or independent engines use highly complex mechanisms that require strict cybersecurity measures.</p>
    </div>

    <div class="grid-item">
        <h1 style="color: #F6C367; text-align: center; margin-top: 50px; font-size: 30px;">Conclusion</h1>
        <p>In this digital era, we all want to keep our computers and our personal information secure and hence computer security is important to keep our personal information protected. It is also important to maintain our computer security and its overall health by preventing viruses and malware which would impact on the system performance.</p>
    </div>
    <div class="grid-item">
        <h1 style="color: #F6C367; text-align: center; font-size: 30px;">References</h1>
        <ul>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.academia.edu/6154127/A_STUDY_OF_CYBER_SECURITY_CHALLENGES_AND_ITS_EMERGNING_TRENDS_ON_LATEST_TECHNOLOGIES">Article 1</a></li>
            <li style="margin: 20px;" ><a style="color: white;" href="https://www.simplilearn.com/top-cybersecurity-trends-article#:~:text=With%20AI%20being%20introduced%20in,detection%2C%20and%20automatic%20threat%20detection">Article 2</a></li>   
            <li style="margin: 20px;"><a style="color: white;" href="https://www.thesslstore.com/blog/automotive-cyber-security-a-crash-course-on-protecting-cars-against-hackers/">Article 3</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.stu.edu/news/emerging-trends-in-cyber-security-2019/">Article 4</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.researchgate.net/publication/321528686_A_Recent_Study_over_Cyber_Security_and_its_Elements">Article 5</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://cloudian.com/solutions/big-data/">Article 6</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.researchgate.net/publication/326520552_Cybersecurity_trends_issues_and_challenges">Article 7</a></li>
        </ul>
    </div>
      <div class="container">
        <p style="color: #F6C367; text-align: center; font-size: 30px;"><b><i>Thank You</i></b>
        <ul class="pagination">
          <li class="icon">
            <a href="#"><span class="fa fa-angle-left"></span>Previous</a>
          </li>
          <li><a href="cn.html">1</a></li>
          <li><a href="cn2.html">2</a></li>
          <li><a href="cn3.html">3</a></li>
          <li class="icon">
            <a href="#">Next<span class="fa fa-angle-right"></span></a>
          </li>
        </ul>
      </div>

      <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
        <div class="row">
            
            <div class="col-md-4 col-sm-6 col-xs-12">
            <h1>Contact Us</h1>
            <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/rohan.golawar.5" target="about:blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/_int_32" target="about:blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="https://github.com/Sarwesh2003/BloggingWebsite.git" target="about:blank"><i class="fa fa-github"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/sarthak-wakchoure-35a14018a/" target="about:blank"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
            </div>
        </div>
        </div>
    </footer>
      <script src="../main.js"></script>
</body>
</html>