<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="../../utils.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>DMADM-3</title>
</head>

<body>

    <section style="margin-left: auto; margin-right: auto;">
        <div id="title-bg" style="--bg-img: url('../../assets/images/HistoricPersonalComputersIllustration.png') ">
            <div class="title-content">
                <p id="title">Database Management and Data Mining</p>
                <p id="stmt" style="color: #E79DF9;">Big data storage and processing</p>
                <p>The collection of data provided by various organizations<br>though be in combination of structured,
                    semi structured<br>or unstructured is known as Big Data.
                    Its information can be<br>used and mined for predictive model analysis as well<br>for projects
                    related to machine learning.</p>
            </div>
        </div>
    </section>

    <div class="grid-item">
        <h1 style="color: #C185FE; text-align: center; margin-top: 50px; font-size: 35px;">Advantages Of Big Data</h1>
        <ul style="list-style-type: disc;">
            <li style="font-size: larger; margin: 20px;"><b>Better decision-making: </b>By using data-driven analytics, companies can gain data-driven insights that will help them compete and grow.</li>
            <li style="font-size: larger; margin: 20px;"><b>Increased productivity: </b>Using modern big data tools, analysts can analyze data more quickly and more thoroughly, enhancing their productivity. Moreover, the insights gained from those analyses are often used to improve productivity across the organization.</li>
            <li style="font-size: larger; margin: 20px;"><b>Fraud detection: </b>Financial services companies use big data analytics to detect fraud - an important use for the technology. Systems equipped with machine learning and big data analytics can detect patterns and anomalies exceptionally well, which is one of their biggest advantages.
                                            <br>The ability to detect stolen credit cards or fraudulent purchases often gives banks and credit card companies an edge before the cardholder is aware that something is amiss.</li>
            <li style="font-size: larger; margin: 20px;"><b>Increased agility: </b>These organizations use big data to better align their IT and business efforts and to impact their business strategies and tactics at a faster and more frequent pace.</li>
        
        </ul>
    </div>

    <div class="grid-item">
        <h1 style="color: #C185FE; text-align: center; margin-top: 50px; font-size: 35px;">Disadvantages Of Big Data</h1>
        <ul style="list-style-type: disc;">
            <li style="font-size: larger; margin: 20px;"><b>Data Quality: </b>IFor data scientists and analysts, accuracy, relevance, and the correct format of the information to analyze matters a lot. As a result, reporting processes are slowed considerably, but enterprises might find their analytics useless if they don't resolve data quality issues.</li>
            <li style="font-size: larger; margin: 20px;"><b>Cybersecurity risks: </b>Companies storing big data, especially sensitive data, may become more attractive targets for cybercriminals.</li>
            <li style="font-size: larger; margin: 20px;"><b>Hardware needs: </b>Big data analytics initiatives can be complicated by implementing an IT infrastructure that is capable of supporting them.The cost of acquiring and maintaining storage space to store the data, network bandwidth to transport it to and from analytics systems, and computing resources to perform those analytics are all high.</li>

        </ul>
    </div>

    <div class="grid-item">
        <h1 style="color: #C185FE; text-align: center; font-size: 30px;">Conclusion</h1>
        <p>Big Data analytics has expanded its roots in all the fields. This results in the use of Big Data in a wide range of industries including Finance and Banking, Healthcare, Education, Government, Retail, Manufacturing, and many more.</p>
        
        <p>There are many companies like Amazon, Netflix, Spotify, LinkedIn, Swiggy,etc which use big data analytics. Banking sectors make the maximum use of Big Data Analytics. Education sector is also using data analytics to enhance students’ performance as well as making teaching easier for instructors.</p>
        
        <p>Big Data analytics help retailers from traditional to e-commerce to understand customer behaviour and recommend products as per customer interest. This helps them in developing new and improved products which help the firm enormously.</p>
    </div>

    <div class="grid-item">
        <h1 style="color: #C185FE; text-align: center; font-size: 30px;">References</h1>
        <ol>
            <li style="margin: 20px;"><a style="color: white;" href="https://ieeexplore.ieee.org/abstract/document/6567202">IEEE</a></li>
            <li style="margin: 20px;" ><a style="color: white;" href="https://searchdatamanagement.techtarget.com/definition/big-data">Article 1</a></li>   
            <li style="margin: 20px;"><a style="color: white;" href="https://www.geeksforgeeks.org/5-vs-of-big-data/">Article 2</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.techopedia.com/definition/29473">Article 4</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://bigdata-madesimple.com/top-big-data-tools-used-to-store-and-analyse-data/">Article 5</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://cloudian.com/solutions/big-data/">Article 6</a></li>
            <li style="margin: 20px;"><a style="color: white;" href="https://www.sciencedirect.com/topics/computer-science/big-data-processing">Article 7</a></li>
        </ol>
    </div>
   



    <div class="container">
        <p style="color: #0AFF5C; text-align: center; font-size: 30px;"><b><i>Thank You</i></b>
        </p>
        <ul class="pagination">
            <li class="icon">
                <a href="#"><span class="fa fa-angle-left"></span>Previous</a>
            </li>
            <li><a href="dmadm.html">1</a></li>
            <li><a href="dmadm2.html">2</a></li>
            <li><a href="dmadm3.html">3</a></li>
            <li class="icon">
                <a href="#">Next<span class="fa fa-angle-right"></span></a>
            </li>
        </ul>
    </div>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h1>Contact Us</h1>
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/rohan.golawar.5" target="about:blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/_int_32" target="about:blank"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="https://github.com/Sarwesh2003/BloggingWebsite.git"
                                target="about:blank"><i class="fa fa-github"></i></a></li>
                        <li><a class="linkedin" href="https://www.linkedin.com/in/sarthak-wakchoure-35a14018a/"
                                target="about:blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../main.js"></script>
</body>

</html>